@page
    <p>Dane w zapisane w sesji</p>
@model fizbuzz_wysyl.Pages.WyszukiwaneModel
@if (Model.Wpis != null)
{
<p>
    Liczba
    @Model.Wpis.Number
    @Html.DisplayNameFor(model => Model.Wpis.Wynik):
    @Model.Wpis.Wynik
    @Html.DisplayNameFor(model => Model.Wpis.data):
    @Model.Wpis.data

</p>
    
   



}
